<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ecommerce Web Site</title>
    <meta
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
            name="viewport" />
    <link rel="stylesheet"
          th:href="@{../css/bootstrap.min.css}" />

</head>
<body>
<div class="d-flex justify-content-center">
    <div>
        <span>Bonjour <p th:text="${firstName}"></p></span>
    </div>
    <div>
        <a th:href="${verificationURL}" class="btn btn-primary">Valider votre compte ici </a>
        <span>Si le lien ne fonctionne pas : <p th:text="${verificationURL}"></p></span>
    </div>



</div>

<script th:src="@{'../js/jquery.min.js'}"></script>
<script th:src="@{'../js/bootstrap.min.js'}"></script>
</body>
</html>