<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="layout">
<head>
    <title>Gestion Categories</title>
</head>
<body>
<div layout:fragment="content">
    <a class="btn btn-primary" href="/admin/addCategory" role="button">Ajouter une categorie</a>
    <div class="alert alert-success" role="alert" th:if="${suppCategoryMsg != null}">
        <p th:text="${suppCategoryMsg}"></p>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categorys}">
            <td><span th:text="${category.name}">Nom</span></td>
            <td><a th:href="@{/admin/suppCategory(id=${category.id})}">Supprimer</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>