<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="layout">
<head>
    <title>Gestion Produits</title>
</head>
<body>
<div layout:fragment="content">
    <div class="alert alert-success" role="alert" th:if="${suppProductMsg != null}">
        <p th:text="${suppProductMsg}"></p>
    </div>
    <div class="row">
        <div th:each="product : ${products}" class="card col-md-3" style="width: 18rem;">
            <img th:src="@{/img/img.png}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 th:text="${product.name}" class="card-title">TITRE</h5>
                <p th:text="${product.description}" class="card-text">Description.</p>
                <p th:text="${product.active}" class="card-text">Description.</p>
                <div class="d-flex">
                    <span>Prix :</span>
                    <p th:text="${product.price}" class="card-text">prix.</p>
                    <span>euros</span>
                </div>

                <div class="d-flex justify-content-around">
                    <a href="#" class="btn btn-primary">Modifier</a>
                    <a th:if="${product.active}" th:href="@{/admin/suppProduct(id=${product.id})}" class="btn btn-primary">Desactiver</a>
                    <a th:unless="${product.active}" th:href="@{/admin/activeProduct(id=${product.id})}" class="btn btn-primary">Activer</a>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>