<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="layout">
<head>
    <title>Vos Achats</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div th:each="product : ${products}" class="card col-md-3" style="width: 18rem;">
            <img th:src="@{/img/img.png}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 th:text="${product.name}" class="card-title">TITLE</h5>
                <p th:text="${product.description}" class="card-text">description.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>