<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="layout">
<head>
    <title>Compte Client</title>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Bienvenue sur votre espace client</h1>
            <p class="lead">Ici vous pouvez ajouter/Modifier vos produits .</p>
            <div sec:authorize="hasRole('ADMIN')">
                <a class="btn btn-outline-success" href="/admin" role="button">Acceder a votre espace Administrateur</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>